<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @pensamiento.descripcion %>
</p>


<%= link_to 'Edit', edit_pensamiento_path(@pensamiento) %> |
<%= link_to 'Back', pensamientos_path %>
